<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {# En attente de la guideline pour les meta-datas #}
  <title>{% if title is defined %}{{ title }} - {% endif %} {{ "SiteBuilder" | upper }}</title>
  {# Include du fichier style #}
  <link rel="stylesheet" href="{{ asset('assets/css/open.min.css') }}" />
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

  {# Include du header (logo + navigation) #}
  {% include "parts/template_header.html.twig" %}

  <main role="main">
    {% block body %}{% endblock %}
  </main>

  {# Include du footer (newsletter + navigation) #}
  {% include "parts/template_footer.html.twig" %}
  {# Include JS scripts #}
  <script src="{{ asset('assets/js/open.min.js') }}"></script>

</body>
</html>
