{# <div class="{{ pageContent.position }}">
  <ul class="nav nav-pills nav-stacked">
    {% if menu %}
      {% for menupage in menu.menuPages %}
          <li>
            <a href="{{ path('mnhn_buildpage', {'slug': menupage.page.slug}) }}">
              {{ menupage.page.name }}
            </a>
          </li>
        {% else %}
          <li>Pas de pages.</li>
        {% endfor %}
    {% else %}
    {% endif %}
  </ul>
</div> #}
{% if menu %}
{% set menu = knp_menu_get('MNHNAdminBundle:Builder:buildMenu', [], {'menuName': menuName}) %}
<div class="{{ pageContent.position }} {{ pageContent.content.class }}">
<nav class="">{{ knp_menu_render(menu) }}</nav>
</div>
{% else %}
MENU NON EXISTANT
{% endif %}