{% extends template_repo ~'/views/templates/default.html.twig' %}
{# {% form_theme form with ['@BuilderBundle/Resources/views/Field/fields_progam_template.html.twig', 'bootstrap_3_layout.html.twig'] %} #}
{% form_theme form '@BuilderBundle/Resources/views/Field/fields_program_template.html.twig' %}
{# {% form_theme form '@BuilderBundle/Resources/views/Field/program_objectives.html.twig' %} #}

{% block body %}
{# <h2>{{f_form.entity}} => {{f_form.name}}</h2>
<table class="table">
    <tr>
        <th>
            Position
        </th>
        <th>
            Label
        </th>
        <th>
            Input
        </th>
        <th>
            Droits
        </th>
    </tr>
    {% for ff in f_form.formFields %}
    <tr>
        <td>
            {{ff.position}}
        </td>
        <td>
            {{ff.field.label}} {% if ff.mandatory %}*{% endif %} 
        </td>
        <td>
            {{ff.field.fieldtype.name}} : {{ff.field.property}}
        </td>
        <td>
            {% for ffr in ff.formfieldrights %}
                <div>{{ffr.rights.name}} : {{ffr.mode}}</div>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table> #}

  {{ errormessage }}
  <div class="creation-observatoire">
    <nav class="nav__creation-observatoire">
      {% set formSteps = [
      'Caractéristques',
      'Localisation',
      'Contact, réseau, résultats',
      'Autres informations'
      ]%}
      <ul>
        {% for step in formSteps %}
        <li data-id="{{ loop.index }}" {{ loop.index == 1 ? "class='active'" }}><span>{{ step }}</span></li>
        {% endfor %}
      </ul>
      <p class="text-danger hidden-xs hidden-sm">* Champs obligatoires pour valider la création de l’observatoire. Les autres champs pourront être renseignés ultérieurement.</p>
      <div class="bordered text-center hidden-xs hidden-sm">
        <strong>Je soumets mon observatoire aujourd’hui, OPEN vérifie les informations et le publie le plus rapidement possible.</strong>
      </div>
    </nav>
    <div class="form__creation-obersvatoire form-horizontal" enctype="multipart/form-data">
  {{ form_start(form, {'attr': {'class': 'inputs-line'} }) }}
    <div class="step active" data-id="1">
          <div class="step__title mb-4">Caractéristiques de l’observatoire</div>
    {{ form_widget(form) }}

    </div>
  {{ form_end(form) }}
{# {{ form(form) }} #}
    </div>
  </div>

{% endblock body %}