    {# <div class="nbresults">{{nb_total_items}}
        article
        {% if nb_total_items > 1 %}s
        {% endif %}
    </div> #}
    <div class="list-items">
        {% if items is defined %}
            {% for item in items %}
                {# {dump(item)}} #}
                {% if item is iterable %}
                    {% set item = item[0] %}
                {% endif %}
                <div class="item row">
                    <div class="illustration col-3">
                        <a class="" href="{{path('builder_buildpageid',{'slug':'actu','id': (item.slug is empty? item.id:item.slug) })}}">
                            <img src="{{ vich_uploader_asset(item, 'photoFile') }}" alt="{{ item.title }}">
                        </a>
                    </div>
                    <div class="info col">
                        <div class="title">
                            <a href="{{path('builder_buildpageid',{'slug':'actu','id':(item.slug is empty? item.id:item.slug) })}}">{{item.title}}</a>
                        </div>
                        <div class="date">
                            Publié le
                            {{item.publishedAt| date('d/m/Y')}}
                        </div>
                        <div class="content">
                            {{item.content| striptags | slice(0,600) | raw }} ...
                        </div>
                        <a class="" href="{{path('builder_buildpageid',{'slug':'actu','id':(item.slug is empty? item.id:item.slug) })}}">
                            > lire l'actualité</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {# pager #}
        {% if request.get("slug") != 'news' %}
            <a class="mb-5 d-flex justify-content-center" href="{{ path('builder_buildpage', {'slug': 'news'}) }}">> voir plus d'actualités</a>
        {% elseif pages > 1 and numpage is defined %}
            <nav class="single-pager mt-3">
                <ul class="pagination justify-content-center">
                    {% for p in 1..pages %}
                        <li class="{{ p == numpage ? 'active' : ''}}">
                            <a class="pager-item" index="{{loop.index}}" href="{{ path('builder_buildpage', {'slug': 'news', 'request' : request,'p': p})}}">{{ loop.index }}</a>
                            {{ loop.index != loop.length ? '-'}}
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endif %}

    </div>
