{# <div class="info">{{filter}} {{filtervalue}}</div> #}
<div class="filters">
    <span  class="info-page"> Catégorie: </span><a href="{{path('site_buildpage', {'slug':(categorie|replace({' ': '_'})|lower())})}}">{{categorie}}</a>
</div>
<div class="nbresults">{{nb_total_items}} article{% if nb_total_items > 1 %}s{% endif %}</div>
<div class="list-items">
    {% if items is defined %}
        {% for item in items %}
            <div class="item row">
                <div class="illustration col-2" >
                    <a class="" href="{{path('site_buildpageid',{'slug':'article','id':item.id })}}">
                        <img src="{{ vich_uploader_asset(item, 'photoFile') }}" alt="{{ item.title }}">
                    </a>
                </div>
                <div class="info col">
                    <div class="title">
                        <a href="{{path('site_buildpageid',{'slug':'article','id':item.id })}}">{{item.title}}</a>
                    </div>
                    <div class="date">
                        Publié le {{item.publishedAt| date('d/m/Y')}}
                    </div>
                    <div class="content">
                        {{item.content| striptags | raw }} 
                    </div>
                    <a class="" href="{{path('site_buildpageid',{'slug':'article','id':item.id })}}"> > lire l'article</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    {# pager #}
    {% if request.get("slug") != (categorie|replace({' ': '_'})|lower()) %}
        <a class="mb-5 d-flex justify-content-center" href="{{ path('site_buildpage', {'slug': (categorie|replace({' ': '_'})|lower())})}}">> voir plus d'articles</a>
    {% elseif pages > 1 and numpage is defined %}
        <nav class="single-pager mt-3">
            <ul class="pagination justify-content-center">
                {% for p in 1..pages %}
                    <li class="{{ p == numpage ? 'active' : ''}}">
                        <a class="pager-item" index="{{loop.index}}" href="{{ path('site_buildpage', {'slug': (categorie|replace({' ': '_'})|lower()) ,'p': p})}}">{{ loop.index }}</a>{{ loop.index != loop.length ? '-'}}
                    </li>
                {% endfor %}
            </ul>
        </nav>
    {% endif %}

</div>