{# Template par defaut #}
{# {% extends template_repo ~ '/views/templates/default.html.twig' %}  #}

{% set title = 'L’écosystème : observatoires & acteurs' %} {# Titre de la page - header-mea & tab du navigateur #}
{% set imageHero = 'VisuelEcosysteme.jpg' %} {# Nom de l'image pour le hero de la page #}

{% block stylesheets %}

    {% stylesheets '@MNHNPortailBundle/Resources/public/css/maps.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %} 
    {% stylesheets '@MNHNPortailBundle/Resources/public/css/structureList.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
  {# {{ filters | json_encode()}}{{ Q_Params | json_encode()}} #}
  {# Content = Contient tout ce qui concerne le contenu des pages #}
  {# Nav pills Observatoire / Acteurs #}
  <ul class="nav nav-tabs is-blue" role="tablist">
    <li role="ecosysteme" class="active"><a href="#observatoires" aria-controls="observatoires" role="tab" data-toggle="tab">{{ 'Les observatoires'|upper}}</a></li>
    <li role="ecosysteme"><a onclick="reloadMap()" href="#acteurs" aria-controls="acteurs" role="tab" data-toggle="tab">{{ 'Les acteurs'|upper}}</a></li>
  </ul>

  {# Tabs content #}
  <div class="tab-content mt-5">

    {# Observatoires #}
    
    {% include  template_repo ~ "/views/parts/observatory-list.html.twig" %}

      

    {# Acteurs #}
    <div class="tab-pane fade" role="tabpanel" id="acteurs">

        <h4>JE RECHERCHE près de chez moi en zoomant sur la carte</h4>
        <div class="row">
            <div class="col-xs-12">
            <div id="map" class="map"></div>
            <div id="tooltip" class="tooltip"></div>
            </div>
        </div>
          <ul class="list-group structures">
              {% for structure in structures %}
                  <li class="list-group-item">
                      <div class="row">
                          <div class="col-xs-1 col-sm-2 col-md-2 index">{{ loop.index }}</div>
                          <div class="col-xs-3 col-sm-2 col-md-2 index">{{ structure.name }}</div>
                          <div class="col-xs-4 col-sm-3 col-md-4 center"><img src="{{ vich_uploader_asset(structure, 'imageFile') }}" alt="{{ loop.index }}" class="img-thumb-structure"></div>
                          <div class="col-xs-4 hidden-xs"><a href="{{ path('mnhn_buildpage', { 'slug': 'fiche_structure', 'id': structure.id }) }}">En savoir plus sur cet acteur <i class="glyphicon glyphicon-chevron-right"></i></a></div>
                          <div class="col-xs-4 hidden-sm hidden-md hidden-lg"><a href="{{ path('mnhn_buildpage', { 'slug': 'fiche_structure', 'id': structure.id }) }}">Voir <i class="glyphicon glyphicon-chevron-right"></i></a></div>
                      </div>
                  </li>
              {% endfor %}
          </ul>
      </div>
      <div
          id="js-vars"
          data-vars="{{ js_vars|json_encode|e('html_attr') }}"
      />
  </div>

{%  endblock %}

{% block javascripts %}
      {% javascripts '@MNHNPortailBundle/Resources/public/js/structurelist.js' %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
      {% endjavascripts %}
  {% endblock %}
