{% extends template_repo ~'/views/templates/default.html.twig' %} {# Template par defaut #}
{% set title = 'Margaux Denis-Queinec' %} {# Titre de la page - header-mea & tab du navigateur #}
{% set pageType = 'profil-pro' %}
{% set imageHero = 'VisuelInscription.jpg' %} {# Nom de l'image pour le hero de la page #}

{% block body %}

  <div class="fiche row profil-pro">
    <div class="col-xs-12">
      {# Navtabs profil/obs/activites #}
      <ul class="nav nav-tabs is-blue" role="tablist">
        <li role="profil-pro" class="active"><a href="#profil" aria-controls="profil" role="tab" data-toggle="tab">{{ 'Mon profil'|upper}}</a></li>
        <li role="profil-pro"><a href="#observatoires" aria-controls="observatoires" role="tab" data-toggle="tab">{{ 'Mes observatoires'|upper}}</a></li>
        <li role="profil-pro"><a href="#activite" aria-controls="activite" role="tab" data-toggle="tab">{{ 'Mon activité'|upper}}</a></li>
      </ul>

      {# tabs content #}
      <div class="tab-content mt-3 mb-3">

        {# Tab Profil #}
        <div class="tab-pane fade active in row" role="tabpanel" id="profil">
          <div class="col-md-8">
            {# Contact #}
            <div class="bloc bloc-modify"> {# Ajouter .has-modifications pour afficher le formulaire de modifications #}
              <i class="glyphicon glyphicon-cog"></i>
              <div class="subtitle is-gray mb-1">{{'Contact'|upper}}</div>
              <p><a href="tel:0100000000">01 00 00 00 00</a><br/><a href="mailto:contact@obj.com">contact@obj.com</a></p>
              <p>Membre de : <a href="#" title="Observatoire de la biodiversité des jardins">Observatoire de la biodiversité des jardins</a></p>
              <form action="#" class="bloc-modification form-horizontal inputs-line show">{# Ajouter la class show pour rendre le form visible #}
                <div class="form-group row">
                  <label for="fonction" class="col-sm-4 control-label text-left">Fonction :</label>
                  <div class="col-sm-8">
                    <input type="text" name="fonction" id="fonction" placeholder="Fonction" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="telephone" class="col-sm-4 control-label text-left">Téléphone :</label>
                  <div class="col-sm-8">
                    <input type="tel" name="telephone" id="telephone" placeholder="0100000000" class="form-control">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary pull-right is-blue">Ok</button>
                <div class="clearfix"></div>
                <p class="text-danger"><em>Si l’administrateur du compte a changé, veuillez contacter Julie Croizille (jcroizille@uncpie.org)</em></p>
              </form>
            </div>

            {# Competences #}
            <div class="bloc bloc-modify">
              <i class="glyphicon glyphicon-cog"></i>
              <div class="subtitle is-gray mb-1">{{'Compétences'|upper}}</div>
              {% set competences = [
                'Sciences de l’environnement - Climatologie',
                'Sciences de l’environnement - Taxonomie',
                'Communication scientifique',
                'Gestion des milieux',
                'Animation de réseaux'
              ]%}
              <div class="infos hidden">{# Ajouter la classe hidden pour cacher la liste#}
                <ul>
                  {% for competence in competences %}
                  <li>{{competence}}</li>
                  {% endfor %}
                </ul>
              </div>

              {# Form pour modifier les competences -> le modele sera le meme pour les autres blocs #}
              <form action="#" class="mb-2 show">{# Ajouter la classe show pour rendre le form visible #}
                <div class="form-group">
                  {% set themes = [
                    'Biologie animale',
                    'Biologie végétale',
                    'Ecologie scientifique',
                    'Climatologie',
                    'Agriculture et agronomie',
                    'Urbanisme / architecture / paysagisme',
                    'Taxonomie'
                  ]%}
                  <div class="col-xs-12">
                    <div class="large-item mb-1">
                      <input type="checkbox" name="sciences-environnement" id="sciences-environnement" data-select-all="sc-env">
                      <label for="sciences-environnement">Sciences de l'environnement</label>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    {% for theme in themes %}
                    <div>
                      <input type="checkbox" name="sc-env" id="sc-env-{{loop.index}}">
                      <label for="sc-env-{{loop.index}}">{{ theme }}</label>
                    </div>
                  {% if loop.index is divisible by(4) %}
                  </div>
                  <div class="col-sm-6">
                  {% endif %}
                    {% endfor %}
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group mt-1">
                  <div class="col-xs-12">
                    <div class="large-item">
                      <input type="checkbox" name="sciences-humaine-sociale" id="sciences-humaine-sociale">
                      <label for="sciences-humaine-sociale">Sciences humaines et sociales</label>
                    </div>
                    <div class="large-item">
                      <input type="checkbox" name="communication-scientifique" id="communication-scientifique">
                      <label for="communication-scientifique">Communication scientifique</label>
                    </div>
                    <div class="large-item">
                      <input type="checkbox" name="animation-reseaux" id="animation-reseaux">
                      <label for="animation-reseaux">Animation de réseaux</label>
                    </div>
                    <div class="large-item">
                      <input type="checkbox" name="eedd" id="eedd">
                      <label for="eedd">EEDD / sensibilisation environnementale</label>
                    </div>
                    <div class="large-item">
                      <input type="checkbox" name="gestion-milieux" id="gestion-milieux">
                      <label for="gestion-milieux">Gestion des milieux</label>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary is-blue pull-right">Ok</button>
                <div class="clearfix"></div>
              </form>
            </div>

            {# Especes etudiees #}
            <div class="bloc bloc-modify">
              {% set icons = [
              {'icon': 'champignons', 'name': 'Champignons & Lichens'},
              {'icon': 'arbres', 'name': 'Végétaux - Arbres'},
              {'icon': 'mousses', 'name': 'Végétaux - Mousses & Sphaignes'},
              {'icon': 'insectes', 'name': 'Animaux - Mousses & Arachnides'},
              {'icon': 'gasteropodes', 'name': 'Animaux - Gastéropodes & Lombrics'}
              ]%}
              <i class="glyphicon glyphicon-cog"></i>
              <div class="subtitle is-gray mb-1">
                {{'Espèces étudiées'|upper}}
                <ul class="list-icons">
                  {% for icon in icons %}
                  <li><i class="icon-{{icon.icon}}"></i></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="infos">
                <ul>
                  {% for icon in icons %}
                  <li>{{icon.name}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            {# Themes etudiees #}
            <div class="bloc bloc-modify">
              {% set icons = [
              {'icon': 'montagne', 'name': 'Montagnes'},
              {'icon': 'protege', 'name': 'Espèces protégées'},
              {'icon': 'lacs', 'name': 'Lacs et eaux intérieures'},
              {'icon': 'climatique', 'name': 'Changements climatiques'},
              ]%}
              <i class="glyphicon glyphicon-cog"></i>
              <div class="subtitle is-gray mb-1">
                {{'Thèmes étudiés'|upper}}
                <ul class="list-icons">
                  {% for icon in icons %}
                  <li><i class="icon-{{icon.icon}}"></i></li>
                  {% endfor %}
                </ul>
              </div>
              <div class="infos">
                <ul>
                  {% for icon in icons %}
                  <li>{{icon.name}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            {# Collectifs #}
            <div class="bloc bloc-modify">
              <i class="glyphicon glyphicon-cog"></i>
              <div class="subtitle is-gray mb-1">{{'Mes collectifs'|upper}}</div>
              {% set collectifs = ['Le collectif d’Ile-de-France', 'Le collectif des communiquants en herbe'] %}
              <div class="infos">
                <ul class="list-collectifs">
                  {% for collectif in collectifs %}
                  <li>{{collectif}}</li>
                  {% endfor %}
                </ul>
                <p><a href="#" class="is-underline" title="Ajouter un nouveau collectif">Ajouter un nouveau collectif</a></p>
              </div>
            </div>
          </div>
        </div>

        {# Tab Observatoires #}
        <div class="tab-pane fade row" role="tabpanel" id="observatoires">
          <div class="col-md-8">
            {# J'aime ces obs #}
            <div class="subtitle is-gray mb-2">{{'J\'aime ces observatoires'|upper}}</div>
            <ul>
              <li class="obs">
                <div class="obs__image"><img src="http://via.placeholder.com/100x100" alt="Nom de l'observatoire" class="img-circle"></div>
                <div class="obs__content">
                  <div class="obs__content__title">
                    <a href="#" title="Nom de l'observatoire">Nom de l'observatoire</a>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore expedita minus magni eius autem, repellendus totam cum dolorum, nulla consequuntur unde veritatis quia, vel ad hic tempore, nemo cupiditate sapiente!</p>
                </div>
                <div class="obs__status">
                  <span>{{'En cours'|upper}}</span>
                </div>
              </li>
            </ul>
            <hr/>
            {# Referent obs #}
            <div class="subtitle is-gray mb-2">{{'Je suis le référent scientifique de ces observatoires'|upper}}</div>
            <ul>
              {% for obs in 1..2 %}
              <li class="obs">
                <div class="obs__image"><img src="http://via.placeholder.com/100x100" alt="Nom de l'observatoire" class="img-circle"></div>
                <div class="obs__content">
                  <div class="obs__content__title">
                    <a href="#" title="Nom de l'observatoire {{loop.index}}">Nom de l'observatoire {{loop.index}}</a>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore expedita minus magni eius autem, repellendus totam cum dolorum, nulla consequuntur unde veritatis quia, vel ad hic tempore, nemo cupiditate sapiente!</p>
                </div>
                <div class="obs__status">
                  <span>
                    {% if loop.index == 2 %}{{'Validé'|upper}}{% else %}{{'En cours de validation'|upper}}{% endif %}
                  </span>
                  <a href="#" class="mt-2"><i class="glyphicon glyphicon-remove"></i>Supprimer</a>
                </div>
              </li>
              {% endfor %}
            </ul>
            <hr/>
            {# Je relaie ces obs #}
            <div class="subtitle is-gray mb-2">{{'Je relaie ces observatoires'|upper}}</div>
            <ul>
              {% for obs in 1..2 %}
              <li class="obs">
                <div class="obs__image"><img src="http://via.placeholder.com/100x100" alt="Nom de l'observatoire" class="img-circle"></div>
                <div class="obs__content">
                  <div class="obs__content__title">
                    <a href="#" title="Nom de l'observatoire {{loop.index}}">Nom de l'observatoire {{loop.index}}</a>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore expedita minus magni eius autem, repellendus totam cum dolorum, nulla consequuntur unde veritatis quia, vel ad hic tempore, nemo cupiditate sapiente!</p>
                </div>
                <div class="obs__status">
                  <span>
                    {% if loop.index == 2 %}{{'Validé'|upper}}{% else %}{{'En cours de validation'|upper}}{% endif %}
                  </span>
                  <a href="#" class="mt-2"><i class="glyphicon glyphicon-remove"></i>Supprimer</a>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-3 col-xs-12 col-md-offset-1">
            <a href="#" class="btn btn-primary no-radius btn-block" data-toggle="modal" data-target="#modalAddObs">J'ajoute un observatoire</a>
          </div>
        </div>

        {# Tab Activite #}
        <div class="tab-pane fade row" role="tabpanel" id="activite">
          <div class="col-md-8" id="actus">
            <div class="subtitle is-gray mb-2">{{'Mes activités'|upper}}</div>
            <ul>
            {% set items = [
              {
                "title": "Je découvre",
                "content": "Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur sed natura propensi ad liberalitatem",
                "image": "VisuelHome2.jpg",
                "type": 'article'
              },
              {
                "title": "J'observe",
                "content": "Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur sed natura propensi ad liberalitatem",
                "type": 'calendrier',
                "image": "VisuelHome2.jpg"
              },
              {
                "title": "Je participe",
                "content": "Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur sed natura propensi ad liberalitatem",
                "type": 'article',
                "image": "VisuelHome2.jpg"
              },
              {
                "title": "Je participe",
                "content": "Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur sed natura propensi ad liberalitatem",
                "type": 'calendrier'
              }
            ]%}
            {% for item in items %}
              <li class="mb-2">
                <div class="icon {{item.type}}"><i class="icon-{{item.type}}"></i></div>
                <div class="item__content">
                  <div class="title"><a href="#">Titre de l'activité {{loop.index}}</a></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quaerat deserunt, laborum optio sed, repellendus iste accusamus fuga ab quod quam. Porro illum soluta amet enim voluptates fuga! Assumenda, expedita.</p>
                </div>
                {% if item.image is defined and item.image != '' %}
                <div class="item__image">
                  <a href="#"><img src="{{ asset( template_repo ~ '/assets/images/carousel/' ~ item.image ) }}" alt="{{ item.title }}" class="img-responsive"></a>
                </div>
                {% endif %}
              </li>
            {% endfor %}
            </ul>
            {# Navigation activites #}
            <nav class="single-pager mt-3 mb-3">
              <ul class="pagination text-center">
                {% for page in 1..4 %}
                <li><a href="#">{{ loop.index }}</a>{{ loop.index != loop.length ? '-'}}</li>
                {% endfor %}
              </ul>
            </nav>
            <hr/>

            {# Notifications #}

            {# Navigation notifications #}
            <div class="subtitle is-gray mb-2">{{'Mes notifications'|upper}}</div>
            <ul class="list-notifications">
              {% for item in 1..8 %}
              <li class="mb-1">
                <div class="list-notifications__icon"><i class="icon-notification"></i></div>
                <p><span class="status">New !</span>
                PetiteABeilleDu78 a participé à votre discussion.</p>
              </li>
              {% endfor %}
            </ul>
            <nav class="single-pager mt-3 mb-3">
              <ul class="pagination text-center">
                {% for page in 1..4 %}
                <li><a href="#">{{ loop.index }}</a>{{ loop.index != loop.length ? '-'}}</li>
                {% endfor %}
              </ul>
            </nav>

          </div>
          <div class="col-md-3 col-xs-12 col-md-offset-1">
            <a href="#" class="btn btn-primary no-radius btn-block">Je publie</a>
          </div>
        </div>
      </div>
    </div>

    {# Deconnexion button #}
    <div class="col-xs-12 btn-deconnexion">
      <a href="#" class="btn btn-danger no-radius btn-block" title="Déconnexion">Déconnexion</a>
    </div>
  </div>

  {# Popin pour ajouter un observatoire #}
  {% include template_repo ~ "/views/parts/popin_add-obs.html.twig" %}

{%  endblock %}
