{% extends template_repo ~'/views/templates/default.html.twig' %} {# Template par defaut #}
{% set title = 'Les sciences participatives' %} {# Titre de la page - header-mea & tab du navigateur #}
{% set imageHero = 'VisuelSciencesParticipatives.jpg' %} {# Nom de l'image pour le hero de la page #}

{% block body %}

  {# Content = Contient tout ce qui concerne le contenu des pages #}
  <div class="container sciences-participatives">
    <div class="row">
      <div class="col-md-9">
        <h3 class="is-red is-smallcase text-center">C'est quoi ?</h3>
        <p>On a tous eu, à un moment ou à un autre, l’occasion d’observer la nature et sa diversité, en s’en étonnant ou en s’émerveillant.</p>
        <p>Observer pour son plaisir, c’est bien… mais observer et faire profiter la communauté scientifique de ses observations, c’est mieux ! C’est ça, les sciences participatives : des programmes scientifiques auxquels on peut tous, spécialistes ou amateurs, contribuer par de la collecte d’observations, sur la base du volontariat.</p>

        <h3 class="is-red is-smallcase text-center">À quoi ça sert ?</h3>
        <p>En premier lieu à améliorer les connaissances sur la biodiversité.
          Programmes de recherche scientifique, inventaires d’espèces : mieux on connaît la biodiversité, mieux on peut la protéger.
          Mais aussi à éduquer et sensibiliser aux enjeux sur la biodiversité, à travers l’implication citoyenne et la pédagogie par l’action.</p>

        <h3 class="is-red is-smallcase text-center">Pour qui ?</h3>
        <p>Pour tous ! Que vous soyez débutant, initié ou expert dans le domaine de l’observation.
          Dans tous les cas, vous bénéficiez du soutien d’observateurs experts qui pourront vérifier vos identifications.

          Oiseaux, mollusques, plantes, insectes pollinisateurs… : quels que soient vos centres d’intérêt, vous trouverez forcément votre bonheur dans la grande variété des programmes de sciences participatives.</p>

        <p class="text-center mt-2 mb-2" style=""><em><a href="#" class="is-red">Trouvez le programme qui VOUS correspond !</a></em></p>

        <p><img src="{{ asset( template_repo ~ '/assets/images/SP/3BonnesRaisons.png' ) }}" alt="3 Bonnes Raisons" class="mb-2 mt-2 img-responsive"></p>
        <h3 class="is-orange is-smallcase text-center">Crédibilité scientifique</h3>
        <p>Les sciences participatives ne sont pas réservées qu’aux experts. Mais alors, comment s’assurer de leur sérieux scientifique ?</p>
        <ul class=" list is-orange">
          <li class="mb-2">Tous les observateurs, débutants et confirmés, respectent un protocole de collecte de données bien défini. Ce protocole encadre les données récoltées et précise les techniques de collecte souhaitées, ce qui facilite l’exploitation scientifique des données a posteriori.</li>
          <li class="mb-2">Les observateurs disposent d’outils d’aide à l’identification des espèces, comme le référentiel taxonomique ou la liste des espèces probables par zone géographique. Pour aller plus loin, certains programmes d’observation font appel à des observateurs experts -les “vérificateurs”- pour épauler les plus novices.</li>
          <li>Les données suspectes sont écartées. Toutes les données transmises comportent a minima une date, un lieu, une espèce1 et un observateur. En recoupant ces éléments entre eux, on écarte les donnés erronées. </li>
        </ul>
        <h3 class="is-orange is-smallcase text-center">OPEN n’est pas un site de données !</h3>
        <p>Créer un compte sur OPEN ne permet pas de télé-verser vos données d’observation dans la base de données du programme de sciences participatives de votre choix. Pour ce faire, il vous faudra aller directement vers le site web du programme concerné.</p>
      </div>
      <div class="col-md-3 text-center">
        {% set items = [
          {'title': 'Participants actifs', 'image': 'ChiffreCle1.png'},
          {'title': 'Participants actifs', 'image': 'ChiffreCle2.png'},
          {'title': 'Participants actifs', 'image': 'ChiffreCle3.png'},
          {'title': 'Participants actifs', 'image': 'ChiffreCle4.png'}
        ]%}
        {% for item in items %}
        <img src="{{ asset( template_repo ~ '/assets/images/SP/' ~ item.image ) }}" alt="{{ item.title }}" class="mb-3">
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p><img src="{{ asset( template_repo ~ '/assets/images/SP/historique.png' ) }}" alt="Bref historique" class="mb-2 mt-2 img-responsive"></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-9 mt-3">
        <div class="item collectif">
          <div class="media">
            <div class="media-left">
              <a href="#"><img src="{{ asset( template_repo ~ '/assets/images/SP/logo_SPB.jpg' ) }}" alt="Sciences Participatives Biodiversité"></a>
            </div>
            <div class="media-body">
              <h3 class="media-heading is-green is-smallcase mb-2">Le Collectif National des Sciences Participatives Biodiversité</h3>
              <p>Constitué de 22 structures, le Collectif National SPB coordonne et anime les acteurs qui portent des programmes de sciences participatives liés à la biodiversité en France. Sa mission : croiser les expertises, accroître la lisibilité et la visibilité de l’existant, valider des pratiques scientifiques. Il est co-animé par la  LPO et Planète Mer.
                <a href="#">LIEN vers une page CNSPB</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{%  endblock %}
