{% extends template_repo ~'/views/templates/default.html.twig' %} {# Template par defaut #}
{% set title = 'FAQ' %} {# Titre de la page - header-mea & tab du navigateur #}
{% set imageHero = 'VisuelFAQ.jpg' %} {# Nom de l'image pour le hero de la page #}

{% block body %}

  {# Content = Contient tout ce qui concerne le contenu des pages #}
  <div id="accordion" role="tablist" aria-multiselectable="true">
    {% for question in 1..10 %}
    <div class="panel accordion">
      <div class="accordion__title" role="tab" id="heading-{{loop.index}}">
          <a role="button" {{ loop.index != 1 ? 'class="collapsed"' }} data-toggle="collapse" data-parent="#accordion" href="#collapse-{{loop.index}}" aria-expanded="true" aria-controls="collapse-{{loop.index}}">
            Question numéro {{loop.index}} <i class="glyphicon glyphicon-menu-down"></i>
          </a>
      </div>
      <div id="collapse-{{loop.index}}" class="accordion__content collapse {{ loop.index == 1 ? 'in' }}" role="tabpanel" aria-labelledby="heading-{{loop.index}}">
        <p>Lorem ipsum dolor <strong>sit amet</strong>, consectetur adipisicing elit. Rem quisquam animi, dolor magni <strong>accusantium facere fugiat</strong>. Vitae, quisquam animi ipsam aliquid, dolore veritatis expedita, dolorum ut culpa sint deserunt! At.</p>
      </div>
    </div>
    {% endfor %}
  </div>

{%  endblock %}
