{% extends template_repo ~'/views/templates/default.html.twig' %} {# Template par defaut #}
{% set title = 'L\'effet papillon' %} {# Titre de la page - header-mea & tab du navigateur #}
{% set subtitle = 'Observatoire' %} {# Sous-Titre de la page #}
{% set pageType = 'structure-observatoire' %}
{% set imageHero = 'VisuelQSN.jpg' %} {# Nom de l'image pour le hero de la page #}

{% block body %}

  {# Content = Contient tout ce qui concerne le contenu des pages #}
  <div class="fiche fiche-observatoire">
    <div class="row">
      <div class="col-md-8">
        {# Bloc description de la structure #}
        <div class="media">
          <div class="media-left">
            <a href="#"><img src="http://via.placeholder.com/125x125" alt="Nom de la structure" class="img-circle"></a>
          </div>
          <div class="media-body">
            <h3 class="media-heading is-blue mb-2">Description du programme</h3>
            <p>La grande diversité et les exigences écologiques variées des papillons leur confèrent un rôle d’indicateurs de la qualité des milieux naturels, et donc de la santé de nos écosystèmes.
La grande diversité et les exigences écologiques variées des papillons leur confèrent un rôle d’indicateurs de la qualité des milieux naturels, et donc de la santé de nos écosystèmes.
La grande diversité et les exigences écologiques variées des papillons leur confèrent un rôle d’indicateurs de la qualité des milieux naturels, et donc de la santé de nos écosystèmes.
La grande diversité et les exigences écologiques variées des papillons leur confèrent un rôle d’indicateurs de la qualité des milieux naturels, et donc de la santé de nos écosystèmes. </p>
          </div>
        </div>

        <iframe class="mt-4" width="100%" src="https://www.youtube.com/embed/gVFjIzqWT4w" frameborder="0" allow="encrypted-media" allowfullscreen></iframe>

        <h3 class="is-blue">Objectifs du programme</h3>
        <ul class="list is-circle">
          <li>Collecte de données dans le cadre d’un observatoire naturaliste</li>
          <li>Collecte de données dans le cadre d’un protocole scientifique identifié</li>
          <li>Collecte de données dans le cadre d’un observatoire à visée pédagogique /sensibilisation</li>
        </ul>
      </div>
      {# Sidebar contact #}
      <div class="col-md-4">
        <div class="obs-infos mb-3">
          <div class="status">
            {{'En cours'|upper}}
          </div>
          <div class="saisons">
            {{'Saisonnalité'|upper}}
            <ul>
              <li><i class="icon-printemps active"></i></li>
              <li><i class="icon-ete active"></i></li>
              <li><i class="icon-automne"></i></li>
              <li><i class="icon-hiver"></i></li>
            </ul>
          </div>
          <div class="niveau">
            <i class="icon-niveauTous"></i>
            {{'Pour tous'|upper}}
          </div>
        </div>
        <div class="mb-3">
          <a href="#" class="btn btn-block btn-participate mb-1">{{'Je participe'|upper}}</a>
          <a href="#" class="btn btn-block btn-share">{{'Je partage'|upper}}</a>
        </div>
        <div class="bloc-contact bordered">
          <div class="h3 is-blue">Contact</div>
          <p class="title">Observatoire de la biodiversité des jardins</p>

          <p class="mt-3">Martin Desjoyeaux
            <a href="tel:0100000000">01 00 00 00 00</a>
          <a href="mailto:martindesjoyaux@gmail.com">martindesjoyaux@gmail.com</a></p>
          <p class="mt-3"><a href="#" class="website-link"><i class="glyphicon glyphicon-chevron-right"></i> Voir la page Facebook</a></p>
          <p><a href="#" class="website-link"><i class="glyphicon glyphicon-chevron-right"></i> Voir la page Twitter</a></p>
        </div>
        <p><em>Mise à jour : 01/11/2017</em></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        {# Tab bar CARACS/LOCALISATION/RESEAU/ACTUS #}
        <ul class="nav nav-tabs nav-justified is-blue mt-4" role="tablist">
          <li role="ecosysteme" class="active"><a href="#caracteristiques" aria-controls="caracteristiques" role="tab" data-toggle="tab">{{ 'Caractéristiques'|upper}}</a></li>
          <li role="ecosysteme"><a href="#localisation" aria-controls="localisation" role="tab" data-toggle="tab">{{ 'Localisation'|upper}}</a></li>
          <li role="ecosysteme"><a href="#reseau" aria-controls="reseau" role="tab" data-toggle="tab">{{ 'Réseau'|upper}}</a></li>
          <li role="ecosysteme"><a href="#actus" aria-controls="actus" role="tab" data-toggle="tab">{{ 'Actus'|upper}}</a></li>
        </ul>

        <div class="tab-content mt-3">

          {# caracteristiques #}
          <div class="tab-pane fade in active" role="tabpanel" id="caracteristiques">
            <p>“ Notre observatoire est vraiment le plus cool pour observer les papillons ”</p>
            {{'Thèmes :'|upper}}
            <ul class="list-themes mt-2 mb-2">
              <li><i class="icon-ville"></i> En ville</li>
              <li><i class="icon-parc"></i> Parcs & jardins</li>
              <li><i class="icon-paysages"></i> En campagne</li>
            </ul>
            {{'Espèces :'|upper}}
            <ul class="list-especes mt-2 mb-2">
              <li><i class="icon-insectes"></i> Insectes</li>
              <li><i class="icon-arachnides"></i> Arachnides & mille-pattes</li>
              <li><i class="icon-gasteropodes"></i> Gastéropodes & lombrics</li>
            </ul>
            {{'Matériel nécessaire :'|upper}} aucun
          </div>

          {# localisation #}
          <div class="tab-pane fade" role="tabpanel" id="localisation">
            <ul>
              <li>La région {{'Paca'|upper}}</li>
              <li>La région {{'Nouvelle-Aquitaine'|upper}}</li>
            </ul>

            {# Ajouter la carte #}
          </div>

          {# reseau #}
          <div class="tab-pane fade" role="tabpanel" id="reseau">
            {{'Référent scientifique :'|upper}}
            <ul class="mt-2 mb-2">
              <li>Nom de l'acteur</li>
            </ul>
            {{'Réseaux "Sciences participatives" d\'appartenance ou rattachés :'|upper}}
            <ul class="mt-2 mb-2">
              <li>Vigie-Nature</li>
              <li>Observatoires locaux de la biodiversité</li>
            </ul>
            {{'Relais locaux :'|upper}}
            <ul class="mt-2 mb-2">
              <li>xxxxxxxxx</li>
              <li>xxxxxxxxx</li>
            </ul>
            {{'Partenaires :'|upper}}
            <ul class="list-partners mt-2">
              {% for partner in 1..3 %}
              <li><a href="#" title="Partenaire {{loop.index}}"><img src="http://via.placeholder.com/120x120" alt="Partenaire {{loop.index}}"></a></li>
              {% endfor %}
            </ul>
          </div>

          {# Actus #}
          <div class="tab-pane fade" role="tabpanel" id="actus">
            <ul>
            {% set items = [
              {
                "title": "Je découvre",
                "content": "Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur sed natura propensi ad liberalitatem",
                "image": "VisuelHome2.jpg",
                "type": 'article'
              },
              {
                "title": "J'observe",
                "content": "Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur sed natura propensi ad liberalitatem",
                "type": 'twitter'
              },
              {
                "title": "Je participe",
                "content": "Ut enim benefici liberalesque sumus, non ut exigamus gratiam (neque enim beneficium faeneramur sed natura propensi ad liberalitatem",
                "type": 'temoignage'
              }
            ]%}
            {% for item in items %}
              <li class="mb-4">
                <div class="icon {{item.type}}"><i class="icon-{{item.type}}"></i></div>
                <div class="item__content">
                  <div class="title"><a href="#">Titre de l'actu {{loop.index}}</a></div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, quaerat deserunt, laborum optio sed, repellendus iste accusamus fuga ab quod quam. Porro illum soluta amet enim voluptates fuga! Assumenda, expedita.</p>
                </div>
                {% if item.image is defined and item.image != '' %}
                <div class="item__image">
                  <a href="#"><img src="{{ asset( template_repo ~ '/assets/images/carousel/' ~ item.image ) }}" alt="{{ item.title }}" class="img-responsive"></a>
                </div>
                {% endif %}
              </li>
            {% endfor %}
            </ul>
            <a href="actualites" class="btn btn-default mt-2 btn-block" title="Voir toutes les actus">Voir toutes les actus</a>
          </div>

        </div>
      </div>
    </div>
  </div>

{%  endblock %}
