{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
<div class="fos_user_user_show">
    <h3>Informations du compte</h3>

    <img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="{{ user.imageName }}" class="logo_img" />
    {# <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p> #}
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>

    <h3>Informations personnelles</h3>
    <p>Prénom: {{ user.firstname }}</p>
    <p>Nom: {{ user.lastname }}</p>
    <p>Fonction: {{ user.capacity }}</p>
    <p>Mes compétences :</p>
    <ul>
        {% for skill in user.skills %}
            <li>{{ skill.name }}</li>
        {% endfor %}
    </ul>
    <p>Mes thématiques :</p>
    <ul>
        {% for theme in user.theme %}
            <li>{{ theme.name }}</li>
        {% endfor %}
    </ul>

    <p>Mes taxons étudiés :</p>
    <ul>
        {% for taxon in user.taxon %}
            <li>{{ taxon.name }}</li>
        {% endfor %}
    </ul>
    <a href="{{ path('fos_user_profile_edit') }}">Modifier mes informations</a>

    <hr>
    <h3>Mes structures</h3>
    
    <p>Je suis gestionnaire de :</p>

     <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>Ville</th>
            <th>Validée par l'administrateur</th>
        </tr>
        </thead>

        <tbody id="the-list" data-wp-lists="list:tag">
        {% if user.ownedStructures is not empty %}

            {% for structure in user.ownedStructures %}
                <tr>
                    <td>
                        <img class="structure_list_logo logo_img" src="{{ vich_uploader_asset(structure, 'imageFile') }}" alt="Logo de la structure {{ structure.name }}" />
                        <a href="{{ path('site_buildpage', {'slug': 'fiche_structure' , 'id': structure.id }) }}">{{ structure.name }}</a>
                    </td>
                    <td>
                        {{ structure.structureType.name }}
                    </td>
                    <td>
                        {{ structure.city }}
                    </td>
                    <td>
                        {% if structure.isActive == true %}
                            <span class="label label-success">Oui</span>
                        {% else %}
                             <span class="label label-warning">En attente</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="no-items">
                <td>
                    Vous ne gérez aucue structure.
                </td>
            </tr>
        {% endif %}</tbody>

    </table>
    <hr>
    <a class="btn btn-warning" href="{{ path('site_buildpage', { 'slug': 'add_structure' }) }}" > Déclarer une nouvelle structure </a>

    <hr>
    <p>Je suis membre de :</p>
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Gestionnaire</th>
            <th>Type</th>
            <th>Ville</th>
        </tr>
        </thead>

        <tbody id="the-list" data-wp-lists="list:tag">
        {% if user.structures is not empty %}

            {% for structure in user.structures %}
                <tr>
                    <td>
                        <img class="structure_list_logo logo_img" src="{{ vich_uploader_asset(structure, 'imageFile') }}" alt="Logo de la structure {{ structure.name }}" />
                        <a href="{{ path('site_buildpage', {'slug': 'fiche_structure' , 'id': structure.id }) }}">{{ structure.name }}</a>
                    </td>
                    <td>
                        {{ structure.owner }}
                    </td>
                    <td>
                        {{ structure.structureType.name }}
                    </td>
                    <td>
                        {{ structure.city }}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr class="no-items">
                <td>
                    Vous n'êtes pas membre d'une structure.
                </td>
            </tr>
        {% endif %}</tbody>

    </table>

    <a class="btn btn-warning" href="#" id="new_structure_membership_btn" >Devenir membre d'une structure existante </a>

    <div id="structure_choice" style="display:none" >

        {{ form(form) }}

        <button class="btn btn-primary" id="cancel_new_structure_btn" >Annuler</button>
    </div>
    <hr>
    <h3>Ajouter un observatoire</h3>
    <div class="pt-2">
    <a class="btn btn-warning" href="{{ path('create_program_by_step') }}" id="new_program_btn" >Créer un observatoire</a>
    </div>
</div>
{% endblock fos_user_content %}