{% extends template_repo ~'/views/templates/default.html.twig' %} {# Template par defaut #}
{% set title = 'Charte du portail' %} {# Titre de la page - header-mea & tab du navigateur #}
{% set imageHero = 'VisuelCharte.jpg' %} {# Nom de l'image pour le hero de la page #}

{% block body %}

  {# Content = Contient tout ce qui concerne le contenu des pages #}
  <p class="lead">La biodiversité, par la diversité des espèces et des milieux dans lesquels elles évoluent, est d’une très grande richesse, au cœur même des espaces dits « ordinaires ». Elle constitue un bien commun que tout un chacun peut, à son niveau, apprendre à connaître et protéger. Faciliter le rapprochement entre le milieu scientifique et les  citoyen.ne.s à travers les sciences participatives, c’est contribuer à nourrir cet élan collectif en faveur de la biodiversité qui anime un grand nombre d’acteurs en   France : associations, collectivités, Etat, laboratoires de recherche, entreprises… Le Portail national des sciences participatives biodiversité, OPEN, constitue l’outil singulier créé pour répondre à cet enjeu.</p>

  <div id="accordion" role="tablist" aria-multiselectable="true" class="mt-10">
    {% set titles = [
      'Le portail',
      'Les finalités du portail',
      'Les valeurs du portail',
      'Le périmètre du portail',
      'Principes déontologiques des programmes référencés sur le Portail',
      'Signer la charte',
      'Pour aller plus loin'
    ] %}
    {% for title in titles %}
    <div class="panel accordion">
      {% if loop.index != loop.length - 1 %}
      <div class="accordion__title" role="tab" id="heading-{{loop.index}}">
          <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{loop.index}}" aria-expanded="true" aria-controls="collapse-{{loop.index}}">
            {{title}} <i class="glyphicon glyphicon-menu-down"></i>
          </a>
      </div>
      {% endif %}
      <div id="collapse-{{loop.index}}" class="accordion__content collapse {{ loop.index == loop.length - 1 ? 'in pt-5 pb-5 h-auto show' }}" role="tabpanel" aria-labelledby="heading-{{loop.index}}">
        {% if loop.index == loop.length - 1 %}
        <div class="panel panel-default">
          <a class="panel-body show text-center text-uppercase h3 mt-2" href="#" title="Je signe la Charte du portail national des SPB">
            Je signe la Charte du portail national des SPB
            <small class="show text-capitalize mt-1">(Engagement obligatoire)</small>
          </a>
        </div>
        <h4>Engagements des parties</h4>
        <p>En tant que co-animateur.trice.s du Portail, nous nous engageons à :</p>
        <ul>
          <li>respecter les finalités et valeurs de la présente Charte</li>
          <li>être garants du respect des principes déontologiques des programmes référencés sur le portail et d’en référer au comité d’orientation pour toute situation hors cadre</li>
          <li>promouvoir les sciences participatives et le Portail auprès du plus grand nombre</li>
          <li>proposer un Portail fonctionnel et mis à jour</li>
          <li>accompagner les utilisateur.trice.s du Portail</li>
        </ul>
        <p class="mt-3">En tant qu’utilisateur.trice du Portail – porteur et/ou relai de programmes, coordinateur de collectifs d’acteurs, expert – je m’engage à :</p>
        <ul>
          <li>respecter les finalités et valeurs de la présente Charte</li>
          <li>inscrire mes contributions au Portail (programmes et/ou contenus éditoriaux) dans le respect des principes déontologiques cités ci-dessus</li>
          <li>participer, à la hauteur de mes moyens, à la dynamique du Portail afin de favoriser la création d’une communauté des sciences participatives biodiversité (mise à jour de mes informations versées à l’annuaire professionnel, réponses aux sollicitations de mes pairs, etc.)</li>
          <li>faire connaître le Portail auprès de mes réseaux (observateurs, partenaires, etc.)</li>
          <li>détenir les droits à l’image des photographies, dessins et/ou images que je télé-verse librement sur OPEN ainsi que la permission de leurs auteurs. En télé-versant ces images sur OPEN, je m’engage à en céder les droits d’utilisation aux animateurs dudit portail pour tout usage non-commercial de promotion d’OPEN et plus largement des sciences participatives biodiversité</li>
        </ul>
        {% else %}
        <p>Lorem ipsum dolor <strong>sit amet</strong>, consectetur adipisicing elit. Rem quisquam animi, dolor magni <strong>accusantium facere fugiat</strong>. Vitae, quisquam animi ipsam aliquid, dolore veritatis expedita, dolorum ut culpa sint deserunt! At.</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}

  </div>

{%  endblock %}
