<div class="">

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {# <h1>Déclarer une structure</h1> #}

    {# { include 'CsfCoreBundle:errors:bo_errors.html.twig' } #}

    <p>Fiche de la structure</p>

    <img class="structure_list_logo" src="{{ vich_uploader_asset(structure, 'imageFile') }}" alt="Logo de la structure {{ structure.name }}" />

    name = {{structure.name}}
    <br>    
    type = {{structure.structureType.name}}
    <br>
    adresse = {{ structure.address }}
    <br>
    code postal: {{ structure.postalCode }} ville: {{ structure.city }}
    <br>
    tél: {{ structure.phone }}
    <br>
    description: {{structure.description }}
    <br>
    url site web : {{ structure.website }}
    <br>
    La liste des programmes
    <br>
    {% for program in structure.programs %}
        Observatoire: {{program.name}}
        <br>
        Description: {{program.description}}
        <br>
        Relais Locaux:
        <br>
        {% for relay in program.relayLocal %}
        Structure: {{ relay.name }}
        <br>
        {% else %} Observatoire non relayé.<br>
        {% endfor %}
    {% endfor %}
 
    TODO Block actu

    TODO bloc évènements

</div>
