<div class="wrap nosubsub">

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% if structureCree == true %}

        <a class="btn btn-primary" href="{{ path('site_buildpage', {'slug': 'profile'}) }}" >Revenir à mon profil</a>

    {% else %}
        <p>Saisissez les informations relatives à la structure que vous souhaitez déclarer en tant que gestionnaire:</p>

        <div id="col-container" class="wp-clearfix">
            <div class="col-wrap">
                <div class="form-wrap">
                    {{ form_start(form) }}
                    {% include 'MNHNPortailBundle:Structure:Front/form.html.twig' %}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    {% endif %}

</div>
