{% extends template_repo ~'/views/templates/default.html.twig' %}
{# {% form_theme form with ['@BuilderBundle/Resources/views/Field/fields_progam_template.html.twig', 'bootstrap_3_layout.html.twig'] %} #}
{% form_theme form '@BuilderBundle/Resources/views/Field/fields_program_template.html.twig' %}
{# {% form_theme form '@BuilderBundle/Resources/views/Field/program_objectives.html.twig' %} #}

{% block body %}
  {# {{ dump(request)}} #}
  {# ERRORMESSAGEDEB {{ errormessage }} ERRORMESSAGEFIN #}
  <div class="creation-observatoire">
    <nav class="nav__creation-observatoire">
      {% set formSteps = [
      ['Caractéristiques','Caractéristiques de l’observatoire'],
      ['Localisation','Localisation de l’observatoire'],
      ['Contact, réseau, résultats','Contact'],
      ['Autres informations','Autres informations','Ces données ne seront pas rendues visibles au public. Elles serviront à renseigner l’indicateur dédié aux sciences participatives de l’ONB. Seul l’indicateur global de la participation à l’ensemble des observatoires sera publié.']
      ]%}
      <ul>
        {% for step in formSteps %}
        <li data-id="{{ loop.index }}" {{ loop.index <= stepactive ? "class='active'" }}><span>{{ step[0] }}</span></li>
        {% endfor %}
      </ul>
      <p class="text-danger hidden-xs hidden-sm">* Champs obligatoires pour valider la création de l’observatoire. Les autres champs pourront être renseignés ultérieurement.</p>
      <div class="bordered text-center hidden-xs hidden-sm">
        <strong>Je soumets mon observatoire aujourd’hui, OPEN vérifie les informations et le publie le plus rapidement possible.</strong>
      </div>
    </nav>
    <div class="form__creation-obersvatoire form-horizontal" enctype="multipart/form-data">
  {{ form_start(form, {'attr': {'class': 'inputs-line', 'novalidate': 'novalidate'} }) }}
    <div class="step active" data-id="{{stepactive}}">
    {% if stepactive == 4 %}
    <div class="step__title">{{f_form.title}}</div>
    <p class="text-danger">Ces données ne seront pas rendues visibles au public. Elles serviront à renseigner l’indicateur dédié aux sciences participatives de l’ONB. Seul l’indicateur global de la participation à l’ensemble des observatoires sera publié.</p>
    {% else %}
    <div class="step__title mb-4">{{f_form.title}}</div>
    {% endif %}
    {% if not form.vars.valid %}
      <div class="alert alert-danger">
        Formulaire invalide, veuillez corriger les champs indiqués par <span class="glyphicon glyphicon-exclamation-sign">
        {# <ul>
            
            {% if errors %}
            {% for error in errors %}
              <li>
                {{dump(error)}}
              </li>
            {% endfor %}
            {% endif %}
        </ul> #}
      </div>
    {% endif %}
    {# {{dump(form)}} #}
    {# listerrordeb
    <ul>
      {% for error in form.vars.errors.form.getErrors(true) %}
      <li>{{ error.message }}</li>
      {% endfor %}
    </ul>
    listerrorfin #}
    {{ form_widget(form) }}

    </div>
  {{ form_end(form) }}
{# {{ form(form) }} #}
    </div>
  </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@BuilderBundle/Resources/public/js/program/taxa.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@BuilderBundle/Resources/public/js/program/program_uploads.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% javascripts '@BuilderBundle/Resources/public/js/program/relais_locaux.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}


  {% endblock %}