{# <div class="{{ pageContent.position }}">
  <ul class="nav nav-pills nav-stacked">
    {% if menu %}
      {% for menupage in menu.menuPages %}
          <li>
            <a href="{{ path('site_buildpage', {'slug': menupage.page.slug}) }}">
              {{ menupage.page.name }}
            </a>
          </li>
        {% else %}
          <li>Pas de pages.</li>
        {% endfor %}
    {% else %}
    {% endif %}
  </ul>
</div> #}

{% if pageContent is defined %}
{% set menu = knp_menu_get('BuilderBundle:Builder:buildMenu', [], {'menuName': pageContent.content.content|striptags}) %}
<div class="{{ pageContent.position }} {{ pageContent.content.class }}">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="collapse navbar-collapse" id="navbarNav">
    {{ knp_menu_render(menu, {'currentClass': 'active', 'template': 'BuilderBundle:Menu:knp_menu.html.twig', ancestorClass: 'open'}) }}
  </nav>
</div>
{% else %}
MENU NON EXISTANT
{% endif %}


<style>
.dropdown:hover>.dropdown-menu {
  display: block;
}
</style>