{% extends "::builder_base_layout.html.twig" %}

{% block title %}Site - {{ parent() }}{% endblock %}

{% block header %}
    {{ render(controller("BuilderBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Header'})) }}
{% endblock %}

{% block menu %}
    <div id="menu">
        {{ render(controller("BuilderBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Menu'})) }}
      {# {{ render(controller("BuilderBundle:Builder/BuildContent:menuPrincipal", {'menuName': 'Principal'})) }} #}
    </div>
    {# {{ render(controller("BuilderBundle:Builder/BuildPage:menuPrincipal", {'menuName': 'Principal'})) }} #}
{% endblock %}

{% block body %}
    Default
{% endblock %}

{% block footer %}
    {{ render(controller("BuilderBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Footer'})) }}
{% endblock %}
