{% extends "::builder_base_layout.html.twig" %}

{% block title %}{{ parent() }} - articles accessibles et faciles à lire. FALC Ados, adultes{% endblock %}

{% block header %}
    {{ render(controller("BuilderBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Header'})) }}
{% endblock %}

{% block menu %}
    <div id="menu">
        {{ render(controller("BuilderBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Menu'})) }}
      {# {{ render(controller("BuilderBundle:Builder/BuildContent:menuPrincipal", {'menuName': 'Principal', 'request': (request is defined ? request : app.request )})) }} #}
    </div>
{% endblock %}

{% block body %}
    Default
{% endblock %}

{% block footer %}
    {{ render(controller("BuilderBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Footer'})) }}
{% endblock %}
