{% extends "::builder_base_layout.html.twig" %}

{% block title %}MNHN - {{ parent() }}{% endblock %}

{% block header %}
    {{ render(controller("MNHNAdminBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Header'})) }}
{% endblock %}

{% block menu %}
    {# <div id="menu">
      {{ render(controller("MNHNAdminBundle:Builder/BuildContent:menu", {'menuName': 'Principal', 'style':'main'})) }}
    </div> #}
    {{ render(controller("MNHNAdminBundle:Builder/BuildPage:menuPrincipal", {'menuName': 'Principal'})) }}
{% endblock %}

{% block body %}
    Default
{% endblock %}

{% block footer %}
    {{ render(controller("MNHNAdminBundle:Builder/BuildContent:buildDefaultContent", {'selectposition': 'Footer'})) }}
{% endblock %}
